{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{% endblock %}

{% block estconnecte %}
    {% if estConnecte %}
        <li><a class="dropdown-item" href="#">Se connecter</a></li>
    {% else %}
        <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
    {% endif %}
{% endblock %}