{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% set isSecurityPage = false %}

{% block body %}
    <div class="content">
        <div class="homepage">
            <img src="img/logo.png" alt="logo">
            <h2 class="gras">WorkTogether</h2>
            <div class="container">
                <h3 class="gras">Bienvenue chez WorkTogether, </h3>
                <h4>partenaire de confiance pour la location de baies de stockage de pointe.</h4>
            </div>
        </div>
        <div class="row g-0 position-relative">
            <div class="col-md-6 mb-md-0 p-md-4">
                <h6 class="gras">Nos ambitions :</h6>
                <p>Fournir des baies de stockage sécurisées et fiables pour nos clients.
                    Simplifier la gestion de vos données tout en offrant un accès rapide et sécurisé.
                    Établir des relations de confiance avec nos clients pour une collaboration à long terme.
                </p>
            </div>
            <div class="col-md-6 p-4 ps-md-0">
                <img src="/img/bg2.jpg" class="w-100" alt="Échange de données">
            </div>
        </div>
        <div class="row g-0 position-relative">
            <div class="col-md-6 p-4 ps-md-0">
                <img src="/img/bg3.jpg" class="w-100" alt="Échange de données">
            </div>
            <div class="col-md-6 mb-md-0 p-md-4">
                <h6 class="gras">Nos valeurs :</h6>

                <ul>
                    <li>Sécurité : Vos données sont notre priorité. Nous utilisons des mesures de sécurité de pointe
                        pour
                        protéger vos
                        informations.
                    </li>
                    <li>
                        Fiabilité : Nos baies sont conçues pour fonctionner de manière continue, assurant un accès
                        ininterrompu
                        à vos
                        données.
                    </li>
                    <li>
                        Service clientèle exceptionnel : Notre équipe est à votre disposition pour répondre à vos
                        questions
                        et
                        résoudre
                        vos problèmes.
                    </li>
                </ul>
                <p>
                    Rejoignez-nous aujourd'hui pour découvrir la différence WorkTogether !
                </p>
            </div>
        </div>
    </div>
{% endblock %}