{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% set isSecurityPage = false %}

{% block body %}

    <h1>Réservation</h1>
    <h1>Réservation</h1>

    {% if is_granted('ROLE_USER') %}

    {% else %}
{#        <div class="pasconnecte">#}
{#            <p>Veuillez vous connectez pour avoir accès a vos réservations</p>#}
{#            <a class="btn btn-primary" href="{{ url('app_login') }}">Connectez-vous</a>#}
{#            <p>Pas encore de compte ? Vous pouvez un créer un ici</p>#}
{#            <a class="btn btn-secondary" href="{{ url('app_register') }}">Créer un compte</a>#}
{#        </div>#}
    {% endif %}

{% endblock %}
