{% extends 'base.html.twig' %}

{% block title %}Nouvelle réservation{% endblock %}

{% set isSecurityPage = false %}

{% block body %}

    <h2>Nouvelle Réservation</h2>

    {{ form(form) }}

{% endblock %}