{% extends 'base.html.twig' %}

{% block title %}Ajout d'unité{% endblock %}

{% set isSecurityPage = false %}

{% block body %}

    <h1>Nouvelle Unitée</h1>
    <h1>Nouvelle Unitée</h1>
    {{ form(form) }}

{% endblock %}