/*Gestion des pages en Générale*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&;600display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    overflow: auto;
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/img/bg.jpg");
    /* Chemin de l'image de fond */
     background-size: cover;
     background-position: center;
     height: 100vh;
    color: white;
    text-shadow: #000000 2px 2px 2px;
}

.homepage img {
    height: 300px;
}

.navi {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.gras {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.intro {
    position: relative;
    text-align: center;
}

.content {
    text-align: center;
    justify-content: center;

}

/*Gestion des Forms*/

.descri{
    font-weight: 400;
    font-size: small;
}

#boutonReserver{
    margin-bottom: 2em;
}

h5.gras >ul > li{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-top: 32px;
}