@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    text-align: center;
    overflow: hidden;
}

.navi{
    position: static;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.background-image {
    position: fixed;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* gestions des images*/

#bg_home{
    /*background-image: url('../../public/img/');*/
}