{% extends 'base.html.twig' %}

{% block title %}Hello BaieController!{% endblock %}

{% set isSecurityPage = false %}

{% block body %}

    <h2>Conditions d'Utilisation</h2>

    <p>Bienvenue sur le site de location de baies [Nom du Site] (ci-après dénommé "le Site"). Avant d'utiliser nos services, veuillez lire attentivement les présentes Conditions d'Utilisation. En accédant au Site et en utilisant nos services, vous acceptez les conditions énoncées ci-dessous.

        1. Collecte et Utilisation des Données Personnelles

        1.1 En utilisant nos services, vous consentez à la collecte, au traitement et à l'utilisation de vos données personnelles conformément à notre Politique de Confidentialité.

        1.2 Nous collectons des données personnelles telles que votre nom, votre adresse e-mail, votre numéro de téléphone, et d'autres informations nécessaires pour la réservation et la fourniture de nos services.

        1.3 Nous utilisons vos données personnelles uniquement dans le cadre de la prestation de nos services, conformément à la réglementation en vigueur, notamment le Règlement Général sur la Protection des Données (RGPD).

        2. Sécurité des Données Personnelles

        2.1 Nous mettons en place des mesures de sécurité appropriées pour protéger vos données personnelles contre tout accès non autorisé, toute divulgation, toute altération et toute destruction.

        2.2 Nous nous engageons à prendre toutes les mesures nécessaires pour assurer la confidentialité et la sécurité de vos données personnelles.

        3. Partage des Données Personnelles

        3.1 Nous ne partageons vos données personnelles qu'avec des tiers dans la mesure nécessaire pour la fourniture de nos services, et nous nous assurons que ces tiers respectent également les normes de protection des données.

        3.2 Vos données personnelles ne seront pas vendues, louées ou échangées à des tiers à des fins de marketing sans votre consentement explicite.

        4. Droits des Utilisateurs

        4.1 Vous avez le droit d'accéder, de rectifier, de supprimer et de limiter le traitement de vos données personnelles conformément aux dispositions du RGPD.

        4.2 Pour exercer vos droits, veuillez nous contacter à [adresse e-mail de contact].

        5. Cookies

        5.1 Nous utilisons des cookies pour améliorer votre expérience sur le Site. En utilisant nos services, vous consentez à l'utilisation de cookies conformément à notre Politique en matière de Cookies.

        6. Modifications des Conditions d'Utilisation

        6.1 Nous nous réservons le droit de modifier ces Conditions d'Utilisation à tout moment. Les modifications prendront effet dès leur publication sur le Site.

        En acceptant ces Conditions d'Utilisation, vous reconnaissez avoir lu, compris et accepté l'ensemble des dispositions énoncées ci-dessus.</p>
{% endblock %}

